<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GoGoGithub.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C0CFCA51BD8612F007DE7FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C0CFCB91BD8612F007DE7FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C0CFCC41BD8612F007DE7FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
